html, body {
  text-align: center;
  background-image: url("bgimg.jpg");
  width: 100%;
  width: 100%;
  height: 100%;
}
html h1 {
  font-size: 70px;
  font-family: Verdana;
}
html h2 {
  font-family: Verdana;
}

.App-logo {
  height: 250px;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s ease 0s;
  margin-bottom: 2px;
}
.App-logo:hover {
  height: 300px;
  transition: all 0.4s ease 0s;
}
.A {
  letter-spacing: 5px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background-color: #308695;
  text-decoration: none;
  padding: 70px;
  border-radius: 60px;
  transition: all 0.4s ease 0s;
  color: black;
}
.A:hover {
  background: thistle;
  letter-spacing: 10px;
  transition: all 0.4s ease 0s;
}
.B {
  color: #455054;
  font-size: 45px;
  margin-top: 0px;
}
.App-header1 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.button_a {
  margin-top: 10px;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  background: #ed3330;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.navbar {
  background-color: #308695;
  padding: 20px;
}

.navbar_e {
  margin-right: 50%;
  margin-bottom: 0px;
}

.navbar_pic {
  margin-top: 50%;
}
.navbar_elmnts {
  margin: 40px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  align-items: center;
}

.navbar_elmnts:hover {
  padding: 20px;
  margin: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  transition: all 0.4s ease 0s;
}
.navbar_elmnts:active {
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: red;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
}

.txtboxes {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  height: 15px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
}

.txtboxes:hover {
  padding: 15px;
  border-radius: 20px;
  border: none;
  height: 20px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.txtboxes_big {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
}

.txtboxes_big:hover {
  padding: 15px;
  border-radius: 20px;
  border: none;
  height: 120px;
  width: 280px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.template_logo {
  height: 45vmin;
  color: #fff !important;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.template_logo:hover {
  height: 50vmin;
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 10px 50px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.login_txt {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  height: 15px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
}

.login_txt:hover {
  padding: 15px;
  border-radius: 20px;
  border: none;
  height: 20px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.dev_logo {
  height: 30vmin;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0%;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.dev_logo:hover {
  height: 40vmin;
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 10px 50px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 700px;
  border-bottom: 2px solid white;
}

.dev_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.LogoAndName {
  background: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AllCvs {
  display: flex;
  flex-direction: row;
}

.CvElmnt {
  margin: 20px;
  background-color: #2c3e50;
  align-items: center;
  border: 2px;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  height: 300px;
}
.Cv_title {
  background-color: #34495e;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.cv_info {
  font-size: small;
}

.uploader {
  border-width: 2px;
  border: solid;
  border-radius: 20px;
  background-color: white;
  color: black;
  border-color: white;
  margin: 10px;
}
.Background{
  background-color: black;
}