.App-header {
  background-color: #f9f3ed;
}
.LogoAndName {
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
}

.column1 {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
}
.column2 {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
.CvElmnt {
  margin: 20px;
  align-items: center;
  border: 2px;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  height: 300px;
}
.Cv_title {
  background-color: gold;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.cv_info {
  font-size: small;
}
