.profilep {
    width: 500px;
    height: 300px;
    margin-left:100px;
    margin-top:10px;
    
  }
  .page {
    background-color: darkgray;
    width: 99.35vw;   
    position: relative;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 67vw;
    left: 50%;
    right:50%;
  }
  .mpage{
    background-image:url("bgres1.jpg") ;
    width: 50vw;   
    position: relative;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 20vw;
    left: 78%;
    right:70%;
  }
  .name{
    transform: rotate(270deg);
    font-size: 300%;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color:white;
    position: absolute;
    bottom:100px;
    right: 610px;
  }
  .PT{
    transform: rotate(270deg);
    font-size: 150%;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color:white;
    position: absolute;
    bottom:100px;
    right: 610px;

  }
  .otherinfr{
    background-color: white;
    color: black;
    height: 28vw;
    margin-top: -20px;
    
  }
  .bold{
    size: 150%;
    font-weight: bolder;
  }
  .section{
        width:450px;
        margin-left:15px;
  }
  .section ol{
    counter-reset: li;
    list-style: none;
    list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;}
  .section ol ol{
    margin: 0 0 0 2em;}
  .section li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  padding: .4em;
  margin: .5em 0;
  background: #FFF;
  color: #444;
  text-decoration: none;
  moz-border-radius: .3em;
  webkit-border-radius: .3em;
  border-radius: .3em;}
  .section li:hover{
  background: #cbe7f8;
  text-decoration:underline;
  }
  .section li::before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
}
   
     
    